nav {
    text-align: right;
    margin-top: 15px;
    font-family: Lato, serif;
}

nav a, nav span {
    display: inline-block;
    border: 1px solid #9f9f9f;
    color: #333333;
    margin-right: 5px;
    padding: 3px 5px;
    border-radius: 2px;
    line-height: 20px;
    font-size: 18px;
    height: 22px;
}


nav a {
    text-decoration: none;
}

nav a:hover {
    background: #aaaaaa;
    color: white;
}

nav .dots {
    border-width: 0;
}

nav .current {
    background: #333;
    color: white;
    font-weight: bold;
    border-color: #333;
}

nav .disabled {
    border-color: #d3d3d3;
    color: #d3d3d3;
}
